/* these components style the demo page but will not be needed in the finished product */

.banner {
    background-color:#0b4e6f;
    padding: 15px 0;
    margin-bottom:2rem;
}

.banner img {
    height:60px;
}

.container {
    width:730px;
    margin:0 auto;
}